@import url('https://fonts.googleapis.com/css2?family=Kadwa&family=Russo+One&display=swap');

/* Generic Styles */
* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    color: #36454f;
    font-family: 'Kadwa', serif;
    scroll-behavior: smooth;
}

/* logo styling */
.logo {
    font-family: 'Russo One', sans-serif;
    font-size: 200%;
}

.logo>i {
    padding-right: 2px;
}

/* navigation styling */
.nav-link {
    padding-left: 1.3rem;
}

.navbar {
    background-color: #e8e9eb9a;
    font-family: 'Kadwa', serif;
    font-size: 110%;
    font-weight: 900;
    box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px,
        rgb(0 0 0 / 3%) 0px 4px 2px,
        rgb(0 0 0 / 3%) 0px 8px 4px,
        rgb(0 0 0 / 3%) 0px 16px 8px,
        rgb(0 0 0 / 3%) 0px 32px 16px;
    z-index: 1;
}

.navbar li {
    margin-right: 15px;
    transition: all 0.1s ease-out;
}

.navbar li:hover:not(.active) {
    cursor: pointer;
    transform: scale(1.1);
}

.nav-link:focus,
.nav-link:hover {
    color: #36454f;
}

.active a {
    color: #3a3a3a;
}

.offcanvas {
    background-color: #e8e9ebd6;
}

/* footer styling */
footer {
    background-color: #e8e9ebdf;
    box-sizing: border-box;
    z-index: 1;
}

.footer-icons a i {
    font-size: 190%;
    border-radius: 6px;
    color: #36454f;
    z-index: 2;
}

.footer-icons {
    margin-top: 0.5rem;
}

/* postdetail styling */
/* post container styling */
.post-box {
    height: auto;
    margin: 1rem 0.8rem 0.3rem;
    padding: 0.6rem;
    background-color: #e8e9eb4e;
    border-radius: 8px;
}

.p-box {
    overflow: hidden;
    color: black;
}

.p-box-2 {
    padding: 0.6rem 2.5rem;
}

/* image styling */
img {
    background: center center no-repeat;
    border-radius: 5px;
}

/* comment section styling */
.card {
    border: none;
    width: 100%;
}

.comments {
    padding: 1rem;
}