{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class=" mt-4">
                <div class="text-center mb-4">
                    <h2>
                        About Save Food
                    </h2>
                </div>
                <div class="mb-4 about-text">
                    <p>
                        The idea erupted from a friend's PhD project. While He explained his project ideas to me, I felt
                        the need to contribute my quota to solving the problem in question. It came to realization that
                        30% of food which is estimated
                        at 2.5 billion tons and worth $230 billion is wasted annualy in recent multi-dimensional
                        surveys.
                    </p>
                    <p>
                        Global food waste has an enormous ill environmental and human impact. Food waste is a huge
                        source of
                        greenhouse gas (GHG) emissions and wasted natural resources. Therefore reducing food waste
                        could help to reduce global greenhouse gas emissions, establish food security and encourage
                        healthy food systems as well as feed those in need of food.
                    </p>
                    <p>
                        I therefore thought it wise to pilot this project in order to bridge the river of food surplus
                        and the mouths that could make good use of them. I have high hopes that this pilot project will
                        grow to its fullest and help save lives and the planet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}