{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class=" mt-4">
                <div class="text-center mb-4">
                    <h2>
                        About Save Food
                    </h2>
                </div>
                <div class="mb-4 about-text">
                    <p>
                        The inception of this concept emanated from a colleague's doctoral research endeavor. As he
                        explained his project's concepts to me, I discerned the imperative necessity to contribute my
                        quota towards ameliorating the predicament of food wastage. Presently, an alarming 30-40% of the
                        total food production annually succumbs to waste, accounting for a staggering 2.5 billion tons
                        with a monetary value of $230 billion.
                    </p>
                    <p>
                        Besides the economic ramifications, food wastage constitutes a formidable catalyst for
                        greenhouse gas emissions (GHGs), being responsible for approximately 8% of global emissions. This
                        translates to over 3.3 billion tons of carbon dioxide discharged into the atmosphere on an
                        annual basis. Moreover, this profligacy of resources not only exacerbates environmental
                        degradation but also deteriorates the issue of food insecurity, considering that a significant
                        proportion of the global populace continues to endure hunger.
                    </p>
                    <p>
                        I therefore deem it judicious to initiate the preliminary phase of this project, aimed at
                        bridging the river of food surplus and the mouths that could make good use of them. My sanguine
                        anticipation rests upon the belief that this preliminary project shall
                        burgeon to its utmost potential, ultimately contributing to the preservation of resources, human
                        lives and the safeguarding of our planet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}