<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="save-food is a website that enables users to give and or take surplus food from the other">
    <meta name="keywords" content="food, food stuff, food surplus, food items, leftover">
    <meta name="author" content="Samuel Anderson">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <title>Save Food</title>
</head>

<body class="d-flex flex-column h-100 bg-transparent text-dark">
    <header>
        <!-- Navigation links -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand logo">
                    <i class="fa-solid fa-plate-wheat"></i>Save Food
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarText"
                    aria-controls="navbarText">
                    <span class="visually-hidden">Hamburger Icon</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" id="navbarText">
                    <div class="offcanvas-header">
                        <h1 class="offcanvas-title logo" id="offcanvasNavbarLabel">
                            <i class="fa-solid fa-plate-wheat"></i>Save Food
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <ul class="navbar-nav justify-content-end navigation">
                        <li class="nav-item flex a-center active" id="home-nav">
                            <i class="fas fa-home d-none d-lg-block"></i>
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item flex a-center" id="logout-nav">
                            <i class="fa-solid fa-arrow-right-from-bracket d-none d-lg-block"></i>
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal"
                                href="#">Logout</a>
                        </li>
                        <li class="nav-item flex a-center" id="login-nav">
                            <i class="fa-solid fa-arrow-right-to-bracket d-none d-lg-block"></i>
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item flex a-center" id="signup-nav">
                            <i class="fa-solid fa-right-to-bracket d-none d-lg-block"></i>
                            <a class="nav-link" href="#">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0 bg-transparent">
        {% block content %}
        <!-- content goes here -->
        {% endblock content%}
    </main>
    <!-- Footer -->
    <footer class="footer mt-auto py-4">
        <p class="m-0 text-center">
            copyright &copy;<span id="copyright-date"></span> savefood
        </p>
        <p class="m-0 text-center ">
            follow us:
        </p>
        <div class="text-center">
            <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Link to instagram page"><i
                    class="fab fa-instagram-square fa-lg ms-3"></i></a>
            <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Link to facebook page"><i
                    class="fab fa-facebook-square fa-lg ms-3 "></i></a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Link to twitter page"><i
                    class="fab fa-twitter-square fa-lg ms-3"></i></a>
            <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Link to youtube page"><i
                    class="fab fa-youtube-square fa-lg ms-3"></i></a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/b6d3775a16.js" crossorigin="anonymous"></script>
    <script>
        document.getElementById('copyright-date').innerHTML = (new Date().getFullYear())
    </script>
</body>

</html>