{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <h2 class="text-lg-center">Delete Post</h2>
            <div class="col-md-8 offset-md-2">
                <form method="POST">
                    {% csrf_token %}
                    <h3 class="mt-5">
                        {{ post.slug }}
                    </h3>
                    <h4>
                        {{ post.item_description }}
                    </h4>
                    <p class="text-danger mb-5 mt-4">
                        <strong>
                            Are you sure you want to delete the item above?
                        </strong>
                    </p>
                    <button class=" btn btn-danger hvr-grow right mt-2 mb-3" type="submit">
                        Delete
                    </button>
                    <br>
                    <button class="btn btn-secondary mb-5 hvr-grow" type="submit">
                        <a class="text-decoration-none text-white" href="{% url 'home' %}">Cancel</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}