{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container post-box">
    <div class="row">
        <div class="col-5 text-center p-box p-box-1">
            <!-- title of the post -->
            <h1 class="text-center">{{ post.title }}</h1>
            <!-- featured image -->
            {% if "placeholder" in post.featured_image.url %}
            <img src="../media/images/img_placeholder.webp" class="image-fluid w-75" alt="placeholder">
            {% else %}
            <img src=" {{ post.featured_image.url }}" class="image-fluid w-75" alt="posted food item">
            {% endif %}
            <!-- writer of post and the created date of post -->
            <p>
                {{ post.author }} | <span class="date-time"> {{ post.created_on }} </span>
            </p>
        </div>
        <div class="col-md-6 p-box p-box-2">
            <!-- post description -->
            <p>
                {{ post.item_description }}
            </p>
            <hr>
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 ">
                    <!-- heading for comments -->
                    <h3>Comments:</h3>
                    <div class="card-body">
                        <!-- this for loop below iterates through each comment in comments -->
                        {% for comment in comments %}
                        <div class="comments">
                            <p>
                                <!-- writer of comments -->
                                {{ comment.name }}
                                <span">
                                    <!-- comment's created date -->
                                    {{ comment.created_on }}
                                    </span> wrote:
                            </p>
                            <!-- comment body  -->
                            {{ comment.body | linebreaks }}
                        </div>
                        {% endfor %}
                        <div class="col-md-4 card">
                            <div class="card-body">
                                {% if commented %}
                                <div class="alert alert-success" role="alert">
                                    <p class="text-center">Your comment awaits approval</p>
                                </div>
                                {% else %}
                                {% if user.is_authenticated %}
                                <h3>Write a comment:</h3>
                                <p>Writing as: {{ user.username }}</p>
                                <form method="post">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-secondary hvr-grow">Submit</button>
                                </form>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}