{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid post-box">
    <div class="row">
        <div class="col text-center test test1">
            <!-- title of the post -->
            <h1 class="text-center"></h1>
            <!-- featured image -->
            <img>
        </div>
        <div class="col-md-8 test test2">
            <!-- post description -->
            <p>

            </p>
            <!-- writer of post and the created date of post -->
            <p>

            </p>
            <hr>
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 ">
                    <!-- heading for comments -->
                    <h3>Comments:</h3>
                    <div class="card-body">
                        <div class="comments">
                            <p>

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}