{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <!-- button for user posts-->
            {% if user.is_authenticated %}
            <div class="post-button text-center mb-0">
                <button type="submit" class="btn btn-secondary mt-1 hvr-grow">
                    <a class="text-decoration-none text-white" href="{% url 'add_post' %}">Share food</a>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-3 post-box">
    <div class="row">
        <div class="col-md-6 text-center mb-5 p-box-1">
            <!-- title of the post -->
            <h1 class="text-center">{{ post.title }}</h1>
            <!-- featured image -->
            {% if "placeholder" in post.featured_image.url %}
            <img src="../media/images/img_placeholder.webp" alt="placeholder" class="img-fluid">
            {% else %}
            <img src=" {{ post.featured_image.url }}" alt="posted food item" class="img-fluid">
            {% endif %}
            <!-- writer of post and the created date of post -->
            <p>
                {{ post.author }} | <span class="date-time"> {{ post.created_on }} </span>
            </p>
            <hr>
            <!-- post description -->
            <p>
                {{ post.item_description }}
            </p>
            <!-- post pick up address -->
            <p><strong>Pick up at:</strong> {{ post.address }}</p>
            <!-- food item reservation -->
            <div>
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                {{ form.non_field_errors }}
                <form class="text-center mb-4" action="{% url 'post_reserved' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if reserved %}
                    <button type="submit" name="food_item_posts_id" value="{{post.slug}}"
                        class="btn btn-outline-success">reserve</button>
                    {% else %}
                    <button type="submit" name="food_item_posts_id" value="{{post.slug}}"
                        class="btn btn-success mt-1">reserved</button>
                    {% endif %}
                </form>
                {% endif %}
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <!-- post edit link -->
            <a href="{% url 'edit_post' post.pk %}">edit post</a>
            <br>
            <!-- post delete link -->
            <a class="mb-4" href="{% url 'delete_post' post.pk %}">delete post</a>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5 card mb-0 mt-3 p-box-2">
                    <!-- heading for comments -->
                    <h3 class="mb-0">Chat box:</h3>
                    <div class="card-body">
                        <!-- this for loop below iterates through each comment in comments -->
                        {% for comment in comments %}
                        <div class="comments">
                            <p>
                                <!-- writer of comments -->
                                {{ comment.name }}
                                <span">
                                    <!-- comment's created date -->
                                    {{ comment.created_on }}
                                    </span> wrote:
                            </p>
                            <!-- comment body  -->
                            {{ comment.body | linebreaks }}
                        </div>
                        {% endfor %}
                        <div class="card">
                            <div class="card-body">
                                {% if commented %}
                                <div class="alert alert-success" role="alert">
                                    <p class="text-center">Comment successfully added</p>
                                </div>
                                {% else %}
                                {% if user.is_authenticated %}
                                {% if not user.id == post.author.id %}
                                <div class="confirm-text">
                                    <h3 class="text-danger">Confirm reservation via chat:</h3>
                                </div>
                                <br>
                                {% else %}
                                {% if user.id == post.author.id %}
                                <div class="confirm-text"></div>
                                <h4>Reserve food for serious people based on chat</h4>
                                {% endif %}
                                {% endif %}
                                <p>Writing as: {{ user.username }}</p>
                                <form method="post">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-secondary hvr-grow">Submit</button>
                                </form>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}